/* ============= GOOGLE FONTS ======= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* ========= VARIABLES CSS ========= */

.custom-head-name-container {
    justify-content: space-between;
    margin: 0;
}
.nav__logo {
    width: 100px;
}
.nav__logo img {
    height: 45px;
}

.mobile-section h1 {
    text-align: left;
    padding-left: 20px;
}
.social-custom-icon {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.custom-home {
    display: none;
}
.mobile-section {
    display: block;
}
@media screen and (min-width: 769px) {
  .custom-home {
    display: block;
  }
  .mobile-section {
    display: none;
  }
}

.custom-section-work {
    background-color: currentColor;
}
.custom-section-bd-grid {
    width: calc(80% - 2rem);
    margin-left: auto;
    margin-right: auto;
}
footer {
    margin-top: 10px;
}

.section-title:not(.section-title-custom) {
    color: white;
}

.custom-upload-page-btn {
    margin: 20px;
    background-color: white;
    color: #0E2431;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.custom-upload-page-btn a {
    color: #0E2431;
}